.maincontainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 50px;
  padding-top: 25px;
  
  padding-right: 150px;
  padding-left: 100px;
  background: linear-gradient(#FFFEFF,#D7FFFE);
}