.formbox{
        height: 320px;
        /*width: 90vw;
        */display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 140px 0px 130px;
        background:linear-gradient(        #8e9eab        ,        #eef2f3);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}


.form{
    height: 300px;
    width:430px;
    display: flex;
    flex-direction: column;
   
}
.heading{
    padding-top: 120px;
    font-size: 70px;
    height: 300px;
}


input{
    height: 40px;
    width: 340px;
    margin-top: 27px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 3px solid black;
    padding-left: 10px;
}

